body{
    background: #d8c4c4;
    max-width: 900px;
    margin: auto;
}

.foto{
    border-radius: 50%;
}

#title .subtitle .post_title{
    color: blue;
}

#title{
    color: blue;
    font-size: 40px;
    text-transform: capitalize;
}

.post_title{
    
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: white;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: black;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: auto;
  
   
}

a{
    text-decoration: line-through;
    color: blue;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a{

   text-decoration: none;
}